* {
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #0ff;
  --title-color: #dc143c;
  --text-color: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(0,0,0,.1);
}

::selection {
  color: orangered;
  background-color: var(--theme-color);
}

article {
  font-family: "微软雅黑" serif;
  background-color: #fff;
  width: 970px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: .3s;
}


@media(max-width:750px)  and (min-width:360px) {
  body {
    width: 100%;
    justify-content: start;
  }

  article {
    width: 90%;
  }
}

article:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .7);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

h1 {
  text-align: center;
  font-size: 40px;
  color: var(--theme-color);
}

h2, h3, h4 {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--title-color);
}

h2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 1.3em;
  width: 1em;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--title-color);
  transition: .5s;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  -ms-border-radius: 1.5px;
  -o-border-radius: 1.5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
h2:hover::after {
  width: 100%;
}

ul {
  list-style: none;
}

p {
  margin-top: 1rem;
}

code.inline {
  background: #f6f6f6;
  color: #ff502c;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: .9em;
}

pre {
  padding: 26px 10px 10px 10px;
  margin: 5px 0;
  border-radius: 5px;
  position: relative;
  white-space: pre-line;
  color: #fff;
  background: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
pre::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  left: 10px;
  top: 10px;
  border-radius: 6px;
  background-color: red;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
pre::after {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  left: 28px;
  top: 10px;
  border-radius: 6px;
  background-color: yellow;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
code::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  left: 38px;
  top: 10px;
  border-radius: 6px;
  background-color: green;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
pre code.comment {
  color: #969896;
}

pre code span.git {
  font-weight: bold;
  color: #dc143c;
}
pre code span.string {
  color: #c3e88d;
}
pre code span.bash {
  color: #FFC83D;
}
